@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

@font-face {
    font-family: Shapiro;
    src: url(https://dl.dropbox.com/s/yrofnl512d28sx9/Shapiro.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

:root {
    --main-color: #16a085;
    --main-color-tras: rgba(22, 160, 133, 0.5);
    --font-letra: 'Source Sans Pro', sans-serif;
    --font-titulos: 'Shapiro';
  }
  

body {
    background-image: url(Recursos/Fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: var(--font-letra);
    font-size: 16px;
}

body a{
    text-decoration: none;
    color: #000;
}

.degrade {
    width: 100%;
    min-height: 100vh;
    position: absolute;
    background: -webkit-linear-gradient(to left, transparent, var(--main-color));  /* Chrome 10-25, Safari 5.1-6 */
    background-image: linear-gradient(to left, transparent, var(--main-color)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

header {
    width: 100%;
    box-sizing: border-box;
    padding: 25px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: right;
    font-weight: bold;
    font-size: 18px;
}

/*Login izquierdo*/
.login {
    width: 50%;
    max-height: 85vh;
    padding: 25px 50px;
    box-sizing: border-box;
}

.login h1 {
    padding: 10px;
    font-size: 26px;
    font-family: var(--font-titulos);
}

.login form {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.login label {
    padding: 10px;
    font-size: 18px;
}

.login input {
    padding: 10px;
    border:1px solid #000;
    border-radius: 10px;
    background-color: transparent;
}

button {
    padding: 10px 50px;
}

/*Info derecha*/
.info {
    width: 50%;
    padding-right: 25px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
}

.info span {
    font-size: 100px;
    font-family: var(--font-titulos);
    line-height: 80px;
}

.info .texto {
    text-align: right;
}


